{% extends "base.html" %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <div class="card" style="width: 18rem;">
                        <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            

                          <h5 class="card-title">{{product.name}}</h5>
                          {% if product.is_sale %}
                            <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                          <!-- Stars showing-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;Sale!&nbsp;&nbsp;                                
                            <div class="bi-star-fill"></div>
                            
                        </div>
                          <strike>€{{product.price}}</strike>
                                            &nbsp;
                                            €{{product.sale_price}}      


                          {%else%}
                          <h5 class="card-title">€{{product.price}}</h5>
                          
                          {% endif %}
                          

                          <p class="card-text">{{product.description}}</p>
                          <br>
                          <div class="row justify-content-center">
                            <div class="col-md-6">Quantity:</div>
                                <div class="col-md-4">
                          <select class="form-select form-select-sm" id="qty-cart">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                         </select>
                            </div>
                        </div>
                      <br> 
                          <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                          <button type="button" value="{{product.id}}" class="btn btn-secondary" id="add-cart">Add to cart</button>
                        </div>
                      </div>
                </p>
            </div>
            
        </center>
    </div>

</div>

<script>
    $(document).on('click', '#add-cart', function(e) {

        e.preventDefault();
        var productId = $(this).val();  // Get product ID from button value

        $.ajax({
            type: "POST",
            url: '{% url 'cart_add' %}',
            data: {
                product_id: productId,
                product_qty: $('#qty-cart option:selected').text(),  
                action: 'post',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (json) {
                // Update cart quantity in the navbar
                $('#cart-quantity').text(json.cart_quantity);
            },
            error: function (xhr, errmsg, err) {
                console.error(xhr.status + ": " + xhr.responseText);  // Log error
                // Handle errors if needed
            }
        });
    });
</script>



{% endblock content %}