{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        <center>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        Order {{ order.id }} - €{{ order.amount_paid }}
                    </div>
                    <div class="card-body">
                    Email: {{ order.email }}
                    <br>
                    {% if order.date_shipped %}
                        Data Shipped: {{ order.date_shipped }}
                        <br>
                        {% else %}
                        Data Ordered: {{ order.date_ordered }}
                        <br>
                    {% endif %}
                    <br>
                    {{ order.full_name }}
                    <br>
                    {{ order.shipping_address }}
                    <br>
                    <br>
                    <b>Items: </b><br>
                    {% for item in order_items %}
                     
                        {{item.product}} - {{item.price}} - {{item.quatity}}
                        <br>
                    {% endfor %}
                    
                    <br><br>
                    
                    {% if not order.shipped %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="shipping_status" value="True">
    <button type="submit" class="btn btn-success">Mark As Shipped</button>
</form>
{% else %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="shipping_status" value="False">
    <button type="submit" class="btn btn-danger">Mark As Unshipped</button>
</form>
{% endif %}


                    
                </div>
            </div>
        </center>
</div>

{% endblock %}